body {
    background-image: url(https://github.com/gala-saucedo/patissier/blob/10d9ac74fb88bfe97a38140d23505abe5de0f8a1/img/fondo9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

