.catalogo {
    text-align: center;
    display: flex;


    .catalogocomida {
        
        color: aliceblue;
       
        .imgcatalogo {
            width: 25%;
            margin: 1rem;
            border-radius: 1rem;
        
            }

    }
    
}