.rece {
    
    background-color: $color-fondo;

    .col-md-4 {
        color: #ffffff;

        .ingredientes {

            text-align: center;
            font-size: 25px;
            margin-top: 5rem;
            
            }
        .lista {
            
            font-size: 20px;
            margin-right: 65px;
            
        }
    }
}